*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}

.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.nav-logo{
    height: 50px;
    width: 100px;
}

.logo{
    background-image: url("amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100%;
}

.border{
    border: 2px solid transparent;
}

.border:hover{
    border: 2px solid white
}

/* box2 */
.add-first{
    border: #cccccc;
    font-size: 0.85rem;
    margin-left: 15px;
}

.india{
    color: #ffffff;
    margin-left: 15px;
    font-weight: bold;
}

.add-icone{
    display: flex;
    align-items: center;
    margin-left: 14px;
}

/* box3 */
.nav-search{
    display: flex;
    /* align-items: center; */
    background-color: yellowgreen;
    width: 620px;
    margin-left: 14px;
    height: 40px;
    border-radius: 4px;
}

.nav-search:hover{
    border: 2px solid orange;
}


.search-select{
     width: 50px;
     background-color: #f3f3f3;
     text-align: center;
     border-top-left-radius: 4px;
     border-bottom-left-radius: 4px;
     border: none;

}

.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
}

.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #febd68;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: black;
}

/* box4 */

span{
    font-size: 0.9rem;
}

.nav-second{
    font-size: 0.85rem;
    font-weight: 700;
}


/* box6 */

.cart-image i {
    font-size: 30px;
}

.cart-image{
    font-weight: 700;
}

/* .second-panel{
    /* background-color: ; 
}*/



/* *******PANEL************** */

.panel{
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}

.panel-ops p{
    display: inline;
    margin-left: 15px;
}

.panel-ops{
    width: 70%;
    font-size: 0.9rem;
}

.panel-deals{
    font-size: 1rem;
    font-weight: 700;
}

/* **********hero-section*********** */
.hero-section{
    background-image: url(hero_image.jpg);
    height: 380px;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.hero-msg{
    background-color: white;
    color: black;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    width: 80%;
    margin-bottom: 5px;
}

.hero-msg a{
    color: #007185;
    text-decoration: none;
}

/* *******shop-section************ */
.shop-section  {
    display: flex;
    justify-content:space-evenly;
    background-color: rgb(169, 9, 9);
    flex-wrap: wrap;
  
}

.box{
    /* border: 2px solid black; */
    height: 400px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px ;
    padding: 10px;
    /* margin: 0 0.25%; */
    margin-bottom: 10px;
}

.box-img{
    height: 300px;
    background-size: cover;
    margin-top: 15px;
    margin-bottom: 15px;
}

.box-content{
    margin-left: 15px;
    margin-right: 1rem;
}

.box-content a{
    text-decoration: none;
    color: #007185 ;
}

/* //*******Footer************ */

.foot-panel1{
 margin-top: 15px;
    background-color: #37475a;
 color: white;
 height: 50px;
 display: flex;
 justify-content: center;
 align-items: center;
 font-size: 1rem;
}

.foot-panel2{
    background-color: #222f3d;
    color: white;
    height: 300px;
    display: flex;
    justify-content: space-evenly;

}

ul{
    margin-top: 20px;
}

ul a{
    display: block;
    text-decoration: none;
    color: white;
    font-size: 0.85rem;
    margin-top: 10px;
}

/* //////Last panel////////////// */

.foot-panel3{
    background-color: #222f3d;
    color: white;
    border-top: 0.5px solid white;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    background-image: url(amazon_logo.png);
    background-size: cover;
    height: 50px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 18px;
}

.foot-panel4{
    display: block;
    background-color: #0f1111;
    color: white;
    height: 90px;


}

.pages{
    font-size: 0.9rem;
    text-align: center;
    padding: 20px;
}

.copyright{
    font-size: 0.8rem;
    text-align: center;
    padding-top: 3px;
}