*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}

.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;

}

.nav-logo{
    height: 50px;
    width: 100px;
}

.logo{
    ba
}