body{
    text-align: center;
}

div{
    height: 100px;
    width: 100px;
    display: inline-block;
    border: 2px solid black;
}

#container{
    width: 400px;
    height: 500px;
    display: flex;
    flex-direction:row;
    
    /* align-items: flex-start; */
    justify-content:center;

}

#box1{
    background-color: aqua;
}

#box2{
    background-color: pink;
}

#box3{
    background-color: darkkhaki;
    width: 200px;
    height: 200px;
    
}

#box4{
    background-color: indianred;
    height: 75px;
}

#box5{
    background-color: slateblue;
}
